
<ion-content [fullscreen]="true">

    <ion-grid>
      <ion-row>
        <ion-col  size= "6" class="left__side">
        </ion-col>

        <ion-col size= "6" class= "right__side">
          <ion-label size="6" class="label">
            <h1>Criar Conta</h1>
          </ion-label>

    
          <ion-list class="list">
            
            <ion-item>
              <ion-label>Nome</ion-label>
              <ion-input placeholder=""></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>E-mail</ion-label>
              <ion-input placeholder=""></ion-input>
            </ion-item>
        
        
            <ion-item>
              <ion-label>Senha</ion-label>
              <ion-input placeholder="" type="password"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Confirmar senha</ion-label>
              <ion-input placeholder="" type="password"></ion-input>
            </ion-item>
</ion-list>        
<div class="centro">
  <ion-button class="botao">Criar Conta</ion-button><br>

  <ion-col>
    <ion-label class="login">
      <p>Login com</p>
    </ion-label>
  
  </ion-col>
  <ion-button class="facebook">Facebook</ion-button><br>
  <ion-button class="twitter">Twitter</ion-button><br>
  <ion-button class="google">Google</ion-button><br>
</div>


      </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
