// * {
//   outline: 1px solid red;
// }

.left__side{
  background-image: url(https://images.pexels.com/photos/3879070/pexels-photo-3879070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.right__side{
  padding-left: 100px;
  padding-right: 100px;
}

.label h1 {
  font-size: 45px;
  text-align: center;
  padding-top: 40px;
}

.item {
  font-size: 20px;
  padding-top: 20px;
}

.list{
  padding-top: 40px;
}

.botao{

  justify-content: center;
  --border-radius: 15px;
  --background: rgb(39, 143, 125);
  width: 240px;
  
}
.login{

  justify-content: center;
  text-align: center;
}
.facebook{
  --background: blue;
  --border-radius: 15px;
  justify-content: center;

  width: 240px;

}
.twitter{

  justify-content: center;
  --background: rgb(17, 88, 196);
  --border-radius: 15px;
  width: 240px;

}
.google{
 
  justify-content: center;
  --background: red;
  --border-radius: 15px;
  width: 240px;

}

.centro{
padding-left: 175px;
padding-right: 175px;
}